ion-item{
  color:aquamarine;
  border-radius: 20px;
  margin-top: 25px;
}
ion-content {
  --padding-start: 25px;
  --padding-end: 25px;

}

ion-button {
  max-width: 300px;
  margin: auto;
}

ion-text#empty-list {
  color:burlywood;
  
}
div {
  text-align: center;
}

ion-footer {
  text-align: center;
}